// Animations
$pos: 175%;
$d1:  4;
$d2:  1.25;

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes progress {
    from { stroke-dashoffset: 515.221; }
    to { stroke-dashoffset: 0; }
}

@keyframes jump--1 {
    0% { transform: translate3d(0, 0, 0) scale(1.25); }
    10% { transform: translate3d($pos/$d1, -$pos/$d2, 0); }
    20% { transform: translate3d($pos, -$pos, 0); }
    30% { transform: translate3d($pos*2, $pos, 0); }
    40% { transform: translate3d($pos*2, 0, 0); }
    100% { transform: translate3d(0, 0, 0) scale(1.25); }
}
@keyframes jump--2 {
    0%    { transform: translate3d($pos, 0, 0); }
    20%   { transform: translate3d(0, 0, 0) scale(1.25); }
    30% { transform: translate3d($pos/$d1, -$pos/$d2, 0); }
    40%   { transform: translate3d($pos, -$pos, 0); }
    50% { transform: translate3d($pos*2, $pos, 0); }
    60%   { transform: translate3d($pos*2, 0, 0); }
    100%  { transform: translate3d($pos, 0, 0); }
}
@keyframes jump--3 {
    0%    { transform: translate3d($pos*2, 0, 0); }
    30%   { transform: translate3d(0, 0, 0) scale(1.25); }
    40% { transform: translate3d($pos/$d1, -$pos/$d2, 0); }
    50%   { transform: translate3d($pos, -$pos, 0); }
    60% { transform: translate3d($pos*2, $pos, 0); }
    100%  { transform: translate3d($pos*2, 0, 0); }
}

// Variables for dots
$size: 15px;
$duration: 2s;
$timing: ease-in-out;

@mixin dot {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
    background-color: $grey;
    width: $size; height: $size;
    border-radius: 100%;
}

.loader {
    position: absolute;
    width: 300px; height: 100px;
    left: 50%; top: 50%;
    margin-top: -50px; margin-left: -175px;
    transform: translate3d(0, 0, 0);
}

.dot {
    @include dot;
    @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
            animation: jump--#{$i} $duration $timing infinite;
            box-shadow: rgba(255, 255, 255, .5) 0 0 2px 2px, $grey 0 0 12px 0;
        }
    }
}

.progress-loader {
    height: 90px; width: 90px;
    position: absolute;
    top: 50%; margin-top: -45px;
    left: 50%; margin-left: -45px;
    transform: rotate(-90deg);
    circle { stroke: $off-white; }
    circle:nth-child(2) {
        stroke: $dark-red;
        stroke-dasharray: 515.221;
        stroke-dashoffset: 515.221;
        animation: progress 3s infinite alternate;
    }
}
