$dark-grey: #333333;
$grey: #666666;
$off-white: #f2f2f2;

$off-black: #121212;
$blue: #bceff2;
$dark-blue: #31a4aa;
$red: #e56973;
$dark-red: #c12431;
$purple: #eda6e4;
$dark-purple: #c429b0;
$green: #bceaa1;
$dark-green: #629e3f;
$yellow: #e2deaa;
$dark-yellow: #e2d62f;

$font-basesize: 16px;
